{% extends "layout.html" %}
   
{% block content %}
  <div class="band">
    <div class="container">
      
      {% include 'admin-header.html' %}

      <header class="primary">
        <h2>Add new product</h2>
      </header>
      
      <form method="POST" action="api/products" class="add-product-form" novalidate>
        {{ form.csrf_token }}
        
        <div class="form-group">
          {{ form.name.label() }}
          {{ form.name(size=20, class_="form-control") }}
        </div>

        <div class="form-group">
          {{ form.description.label() }}
          {{ form.description(size=20, class_="form-control") }}
        </div>

        <div class="form-group">
          {{ form.image.label() }}
          {{ form.image(size=20, class_="form-control") }}
        </div>

        <div class="form-group">
          {{ form.price.label() }}
          {{ form.price(size=20, class_="form-control") }}
        </div>

        <div class="form-group">
          {{ form.stock.label() }}
          {{ form.stock(size=20, class_="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
{% endblock content %}