{% extends "layout.html" %}
   
{% block content %}

  <div class="band cart-page">
  
    <div class="container">
    
      <header class="primary">
        <h2>Shopping cart</h2>
      </header>
    
      {% if products|length > 0 %}

      <div class="products">

        <header>

          <div class="col-total">Total</div>
          <div class="col-price">Price</div>
          <div class="col-quantity">Quantity</div>
          <div class="col-product">Product</div>

        </header>

        {% for product in products %}
    
        <div class="product" id="product-{{product.id}}">
          <a href="/products/{{product.id}}" style="background-image: url('{{product.image}}');">

          </a>

          <div class="data">
            <p>{{ product.name }}</p>
            <p>{{ product.description }}</p>
          </div>

          <div class="col-quantity">
            
            <div class="item-counter">
              <button class="add-to-cart btn btn-light" onClick="cartEditProductCount('{{ product.id }}', 'sub')">-</button>
              <span class="count">{{cart[product.id|string]['quantity']}}</span>
              <button class="add-to-cart btn btn-light" onClick="cartEditProductCount('{{ product.id }}', 'add')">+</button>
            </div>
        
            {% if 0 >= product.stock %}
            <span class="badge badge-danger">
              On backorder
            </span>
            {%endif %}
            <button class="remove-item btn btn-light" onClick="cartRemoveProduct('{{ product.id }}')">Remove</button>
          </div>

          <div class="col-price">
            <span>${{ product.price }}</span>
          </div>
        
          <div class="col-total">
            $<span>{{ product.price * cart[product.id|string]['quantity'] }}</span>
          </div>

        </div>
            
        {% endfor %}

          <footer>
            <div class="subtotal">
              <p>Subtotal</p>
              $<span>{{ total }}</span>
            </div>
          </footer>

          <a class="btn btn-info btn-lg checkout" href="cart/checkout">Checkout</a>

        {% else %}
          <p>The shopping cart is empty</p>
        {%endif %}
        
        </div>
        
      </div>
      
  </div>

{% endblock content %}
