{% extends "layout.html" %}
   
{% block content %}

  <div class="band checkout-page">
  
    <div class="container">
    
      <header class="primary">
        <h2>Checkout</h2>
      </header>

      <form method="POST" action="{{url_for('orders')}}" novalidate>

        <div class="delivery-info">
          <header>
            <h4>Shipping information</h4>
          </header>
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.name.label() }}
            {{ form.name(size=20, class_="form-control") }}
          </div>
 
          <div class="form-group">
            {{ form.address.label() }}
            {{ form.address(size=20, class_="form-control") }}
          </div>
 
          <div class="form-group">
            {{ form.city.label() }}
            {{ form.city(size=20, class_="form-control") }}
          </div>

          <div class="form-group">
            {{ form.email.label() }}
            {{ form.email(size=20, class_="form-control") }}
          </div>
 
         </div> <!-- delivery-info -->
        
        <div class="order-summery">
          <header>
            <h4>Order summery</h4>
          </header>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr>
                <th scope="row">{{product.id}}</th>
                <td>{{ product.name }}</td>
                <td>{{ cart[product.id|string]['quantity'] }}</td>
                <td>${{ product.price }}</td>
                <td>${{ product.price * cart[product.id|string]['quantity'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div> <!-- div.order-summery -->

        <footer>
          <div class="subtotal">
            <p>Total</p>
            $<span>{{ total }}</span>
          </div>
        </footer>

        <button type="submit" class="btn btn-info btn-lg">Place order</button>

      </form>
    </div>
  </div>

{% endblock content %}
