{% extends "layout.html" %}
   
{% block content %}

<div class="band front-page">
  <div class="banner">
  </div>
  <div class="container">
    <div class="products">

      {% for product in products %}
    
        <div class="product">
          <a href="/products/{{product.id}}" style="background-image: url('{{product.image}}');">
          </a>
          <h4>{{ product.name }}</h4>
          <p>{{ product.description }}</p>
          <p>${{ product.price }}</p>
          <div class="out-of-stock">
            
            {% if 0 >= product.stock %}
            <span class="badge badge-danger">
              Available only on backorder
            </span>
            {%endif %}
          
          </div>
          <div>
            <button class="btn btn-warning" onClick="cartEditProductCount('{{ product.id }}', 'add')">Add to cart</button>
          </div>
          </div>
      
      {% endfor %}
    
    </div>
  </div>
</div>
  
{% endblock content %}