{% extends "layout.html" %}
   
{% block content %}
  <div class="band order-page">
    <div class="container">
      
      <header class="primary">
        <h2>Order #{{order.id}}</h2>
      </header>
      <h4>Shipping information</h4>

      <div class="alert alert-secondary" role="alert">
        <p>{{ order.name }}</p>
        <p>{{ order.email }}</p>
        <p>{{ order.address }}</p>
        <p>{{ order.city }}</p>
      </div>

      <h4>Products</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <th scope="row">{{product.id}}</th>
            <td>{{ product.name }}</td>
            <td>${{ product.price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      </form>
    </div>
  </div>
{% endblock content %}