{% extends "layout.html" %}
   
{% block content %}
  <div class="band">
    <div class="container">
      {% include 'admin-header.html' %}

      <header class="primary">
        <h2>Orders</h2>
      </header>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col"></th>
            
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <th scope="row">{{order.id}}</th>
            <td>{{ order.name }}</td>
            <td>{{ order.email }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.city }}</td>
            <th><a href="{{ url_for('order', id=order.id) }}">View</a></th>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock content %}