{% extends "layout.html" %}
   
{% block content %}
  <div class="band product-page">
    <div class="container">

      <div class="product">
        
        <div class="image">
          <img src="{{product.image}}">
        </div>
        
        <div class="product-info">
          <h2>{{product.name}}</h2>
          <p>{{product.description}}</p>
          

          <div class="out-of-stock">
            
            {% if 0 > product.stock %}
            <div class="alert alert-danger" role="alert">
              Out of stock
            </div>
            {%endif %}
          
          </div>

          <h3>${{product.price}}</h3>
          <button class="btn btn-warning" onClick="cartEditProductCount('{{ product.id }}', 'add')">Add to cart</button>
        </div>
      
      </div>
    </div>
  </div>
{% endblock content %}