{% extends "layout.html" %}
   
{% block content %}
  <div class="band">
    <div class="container">
      {% include 'admin-header.html' %}

      <header class="primary">
        <h2>Products</h2>
      </header>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <th scope="row">{{product.id}}</th>
            <td><img src="{{ product.image }}"></td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.stock }}</td>
            <td>${{ product.price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock content %}