body {
  overflow-y: scroll;
}

header.primary {
  height: 100px;
  display: grid;
  align-items: center;
}

header.primary h1 a,
header.primary h1 a:active,
header.primary h1 a:visited,
header.primary h1 a:hover { 
  color: #fff;
  text-decoration: none;
}

header.primary .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header.primary div.cart {
  justify-self: end;
}

header.primary div.cart a,
header.primary div.cart a:active,
header.primary div.cart a:visited,
header.primary div.cart a:hover {
  color: #fff;
  text-decoration: none;
}

div.band {
  width: 100%;
}

div.container {
  width: 80vw;
  margin: 0 auto;
}