/**
**  LAYOUT
**/

nav a.cart {
  display: grid;
  grid-template-columns: 24px fit-content(100px);
  align-items: center;
  cursor: pointer;
}

/**
**  FRONT PAGE
**/

div.banner {
  background-image: url('https://i.pinimg.com/originals/6a/dd/20/6add20fd5a5cd98d2a7237e8c7e16ce3.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-bottom: 80px;
}

div.front-page div.products {
  display: grid;
  column-gap: 16px;
  row-gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));   
}

div.front-page div.product {
  display: grid;
  gap: 8px;
  grid-template-rows: auto auto auto auto auto auto;
}

div.front-page div.product a {
  height: 300px;
  background-size: cover;
  background-position: center;
  width: 100%;
}

/**
**  CART PAGE
**/

div.cart-page div.products {
  display: grid;
  gap: 16px;
}

div.cart-page footer,
div.cart-page div.products header,
div.cart-page div.products div.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

div.cart-page div.products header{
  direction: rtl;
}

div.cart-page div.products header div.col-product {
  grid-column: 5;
}

div.cart-page div.product {
  gap: 16px;
  border-top: solid 1px lightgrey;
  padding: 16px 0;
}

div.cart-page div.product a {
  display: block;
  background-size: cover;
  background-position: center;
}

div.cart-page div.products div.col-quantity {
  text-align: center;
}

div.cart-page div.product div.col-quantity {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

div.cart-page div.product div.col-quantity button.remove-item{
  grid-row: 3;
}

div.cart-page div.product div.col-quantity span.badge {
  align-self: center;
}

div.cart-page div.product div.col-quantity .item-counter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

div.cart-page div.products div.col-price,
div.cart-page div.products div.col-total,
div.cart-page div.products div.subtotal {
    text-align: right;
}

div.cart-page div.products footer {
  direction: rtl;
  font-size: 20px;
}

div.cart-page div.products footer p {
  font-weight: bold;
}

div.cart-page div.products a.checkout {
  justify-self: end;
}

/**
**  PRODUCT PAGE
**/

div.product-page div.product {
  display: grid;
  margin-top: 16px;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

div.product-page div.product div.image{
  grid-row: 1 / span 2;
}

div.product-page div.product div.image img{
  width: 100%;
}

div.product-page div.product div.product-info {
  display: grid;
  gap: 16px;
  grid-template-rows: 2fr auto 1fr 1fr auto;
}

/**
**  CHECKOUT PAGE
**/

div.checkout-page form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 64px;
}

div.checkout-page form header h4{
  margin-bottom: 32px;
}

div.checkout-page form button[type="submit"]{
  grid-row: 3;
  grid-column: 1 / span 2;
  justify-self: end;
}

div.checkout-page footer{
  grid-row: 2;
  grid-column: 1 / span 2;
  justify-self: end;
  font-size: 20px;
}

div.checkout-page footer p {
  font-weight: bold;
}


div.order-page h4 {
  margin-bottom: 16px;
}